{% extends 'base.html' %} {% block content %}
<div class="container-fluid" style="margin-top:10rem;">
    <div class="animated fadeIn">
        <div class="contianer">
            <div class="row">
                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 text-center"><img class="image-c" src="/media/a02.png"></div>
                                <div class="col-6">
                                    <font class="count-head">6298<br></font>
                                    <font class="count-body"> จำนวนไก่ทั้งหมด</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 text-center"><img class="image-c" src="/media/f01.png"></div>
                                <div class="col-6">
                                    <font class="count-head">2875</font><br>
                                    <font class="count-body">จำนวนพ่อพันธุ์ทั้งหมด</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 text-center"><img class="image-c" src="/media/m01.png"></div>
                                <div class="col-6">
                                    <font class="count-head">3423</font><br>
                                    <font class="count-body">จำนวนแม่พันธุ์ทั้งหมด</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}